@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"); */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* font-family: "EB Garamond", serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .main_container {
    /* Height, Alignment, Width */
    @apply h-full min1920:mx-auto min1920:max-w-[1520px]
    /* Margins */
    xdesc:mx-[170px] desc:mx-[120px] lap:mx-[40px] md:mx-[32px] tab:mx-[20px] mob:mx-[16px]
    /* Paddings  desc:min1920:px-[200px] xdesc:px-[200px] px-[50px] lap:px-[40px] md:px-[32px] tab:px-[20px] mob:px-[16px]; */;
  }
}

/* Тут я неявно (по умолчанию) задаю хедеру ширину на весь экран, для окрашивания хедера. */
@layer components {
  .headertop_container {
    /* Height */
    @apply min1920:h-[60px] xdesc:h-[50px]
  desc:h-[40px] lap:h-[35px] md:h-[30px] tab:h-[55px] mob:h-[110px];
  }
}

@layer components {
  .headertopinner_container {
    @apply /*Alignment, Width */
    min1920:max-w-[1520px]
    /* Margins */
    min1920:mx-auto xdesc:mx-[170px] desc:mx-[120px] lap:mx-[40px] md:mx-[32px] tab:mx-[20px] mob:mx-[16px]
    /* Height */
    h-full;
  }
}

@layer components {
  .headertop_text {
    @apply /* font-size */
    mob:text-[11px] tab:text-[9px] md:text-[10px] lap:text-[11px];
  }
}

@layer components {
  .header_bottom {
    /* Height, Alignment, Width */
    @apply h-full min1920:mx-auto min1920:max-w-[1520px]
    /* Margins */
    xdesc:mx-[170px] desc:mx-[120px] lap:mx-[40px] md:mx-[32px] tab:mx-[20px] mob:mx-[16px]
    /* Height */
    mob:h-[70px] tab:h-[70px] md:h-[70px] lap:h-[80px] desc:h-[90px] xdesc:h-[90px] min1920:h-[90px];
  }
}

@layer components {
  .headerbottom_text {
    @apply /*Color*/
    text-[#091D3E]
    /*font-size*/
    font-extrabold
    /* font-size */
    mob:text-[11px] tab:text-[9px] md:text-[10px] lap:text-[11px];
  }
}
